html, body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
}

#canvas {
  height: 80%;
}

#mini-hud {
  height: 20%;
}

#mini1, #mini2, #mini3 {
  width: 33.33%;
  height: 100%;
  float: left;
}
