{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BeatBeam</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/css/main.css">
<link type="text/css" rel="stylesheet" href="/css/font.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/jquery.color.min.js"></script>
<script type="text/javascript">
  // TODO: Maybe make this loaded after page to simplify things? Maybe?
  // Starting grid from server
  var startGrid = JSON.parse('{{ .GridJSON }}');
  // Host also comes from server
  var host = "{{ .Host }}";
</script>
</head>
<body>
{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}
