html, body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-family: 'Open Sans', sans-serif;
}

.row {
  width: 100%;
}

.cell {
  height: 100%;
  float: left;
}

.cell-inner {
  height: 95%;
  width: 95%;
  pointer-events: none;
}

.main-grid {
  height: 75%;
}

.main-grid .label {
  font-size: 6em;
}

.mini-grid .label {
  font-size: 2em;
}

.mini-grids {
  height: 25%;
}

.mini-grid {
  height: 100%;
  float: left;
}

{{ range $name, $grid := .Grids }}
  {{ $grid.AsCSSClass }} .cell-inner {
    background-color: {{ $grid.OffColor }};
  }

  {{ $grid.AsCSSClass }} .active > .cell-inner {
    background-color: {{ $grid.OnColor }};
  }
{{ end }}
