{{ template "header" . }}
<div class="container">
  <h1>Management Console</h1>
  <div class="row duration">
    <div class="col-sm-1"><span class="icon icon-right glyphicon glyphicon-download" aria-hidden="true"></span></div>
    <div class="col-sm-10">
      <div class="progress">
        <div class="center progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ .Duration }}%"></div>
      </div>
    </div>
    <div class="col-sm-1"><span class="icon icon-left glyphicon glyphicon-upload" aria-hidden="true"></span></div>
  </div>
  {{ range $i, $inst := .Instruments }}
  <div class="row instrument" data-id="{{ $inst.ID }}">
    <div class="col-sm-3"><h2>{{ $inst.Name }}</h2></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2"><span class="icon icon-right glyphicon glyphicon-volume-down" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <div class="progress">
            <div class="center progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ .Velocity }}%"></div>
          </div>
        </div>
        <div class="col-sm-2"><span class="icon icon-left glyphicon glyphicon-volume-up" aria-hidden="true"></span></div>
      </div>
    </div>
    <div class="col-sm-3">
      <select name="select" class="instrument-select">
        {{ range $j, $in := $inst.Similar }}
        <option value="{{ $in.ID }}" {{ if eq $inst.Name $in.Name }} selected {{ end }}>{{ $in.Name }}</option> 
        {{ end }}
      </select>
    </div>
    <div class="col-sm-2"><a class="change-instrument btn btn-primary btn-block">Change Instrument</a></div>
  </div>
  {{ end }}
  <div class="row form-horizontal">
    <div class="col-sm-3">
      <input type="text" class="form-control preset-name" placeholder="Preset Name"/>
    </div>
    <div class="col-sm-3"><a class="snapshot btn btn-primary btn-block">Save Preset</a></div>
    <div class="col-sm-3">
      <select name="select" class="form-control">
        {{ range $name, $preset := .Presets }}
        <option value="{{ $name }}" data-info="{{ $preset.SettingsJSON }}" {{ if eq $name "Default" }} selected {{ end }}>{{ $name }}</option> 
        {{ end }}
      </select>
    </div>
    <div class="col-sm-3"><a class="load-preset btn btn-primary btn-block">Load Preset</a></div>
  </div>
</div>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/management.js"></script>
{{ template "footer" .}}
