html, body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.label {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  top: 35%;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.grid {
  position: relative;
}


.row {
  width: 100%;
}

.cell {
  height: 100%;
  float: left;
}

.main-grid {
  height: 75%;
  margin-top: 5px;
  margin-left: 5px;
}

.main-grid .label {
  font-size: 6em;
}

.mini-grid .label {
  font-size: 2em;
}

.main-grid > .row {
  margin-bottom: 6px;
}

.main-grid > .row > .cell {
  margin-right: 6px;
}

.mini-grids {
  height: 25%;
}

.mini-grid {
  height: 100%;
  float: left;
}

.mini-grid > .row {
  margin-bottom: 2px;
}

.mini-grid > .row > .cell {
  margin-right: 2px;
}


.animated {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated-slow {
  -webkit-animation-duration: 2.0s;
          animation-duration: 2.0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
